[Unit]
Description=Prometheus node exporter service
Documentation=https://github.com/prometheus/node_exporter

[Service]
Restart=always
EnvironmentFile=/etc/default/node_exporter
ExecStart={{ node_exporter_bin_path }}/node_exporter $ARGS
ExecReload=/bin/kill -HUP $MAINPID
User={{ node_exporter_runas_user }}
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
Alias=node-exporter
